{% extends 'base.html' %}
{% load static %}
{% block title %}About{%endblock %}
{% block meta_description %}Find the current dental services offered by Dr. Mamun DMD{% endblock %}

{% block content %}

  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">About Us</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">About</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

<!-- ***** CEO SEction start ***** -->

<section class="py-5 about-us">
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <img src="{% static 'website/img/about us/mamun.jpg' %}" alt="">
        </div>
        <div class="col-md-7 ">
            <h4 class=" mt-4">CEO MESSAGE</h4>
            <h2 class="line"></h2>
            <p>Oral health of Indian’s lag behind most nations, including many developing nations. Dentistry is a highly specialized and intricate medical profession, where Dentist work on very small surfaces to try and repair micro decay. There are six specialities in Dentistry, each requiring a three year Master’s degree, making Dentistry one of the most complex medical field.

                We as consumers or normal “non-dentist” citizens, often have no idea of how difficult it is to go in and repair a tooth that is about 2 cm in size. We often don’t realize that Dentistry involved saliva and blood and therefore Sterilization and Hygiene are of utmost important. Moreover, when working on such small surfaces, technology plays a critical role and over the last ten years new technology has enabled dentist across the globe to deliver highly innovative dental solutions to patients.</p>
                <a href="#0" class="btn">Contact CEO</a>
        </div>
    </div>
</div>
</section>
<!-- ***** CEO SEction end ***** -->

<!-- ***** CCO SEction start ***** -->
<section class="py-5 cco">
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h4 class=" mt-4">CCO MESSAGE</h4>
            <h4 class="line"></h4>
            <p>Dento Dental Clinics represent new standards in Dental Care; standards that emphasize quality, convenience and transparency. For the last five years, Dento Dental has been working towards redefining the Oral Health Care delivery system in India by introducing patients to technologically enabled painless dentistry parallel to the best in the world. We have developed end to end dental solutions with our own Clinical setups, Dental Laboratory, Quality Control & Management, In-house Training & dedicated Software for Patient Management. Our Clinics across the Country offer an entire range of Dental Care; from restorative treatments like fillings and root canal to complex Oral and maxillofacial surgery to the latest cosmetic treatment modules at an affordable price. The team of Dentists at Dento are highly qualified and regularly trained in best international practices in Dentistry.”</p>
            <a href="#0" class="btn mb-3">Contact CCO</a>
        </div>
        <div class="col-md-4">
            <img src="{% static 'website/img/about us/cco.png' %}" alt=""> 
        </div>
        
    </div>
</div>
</section>
<!-- ***** CCO SEction end ***** -->

<!-- ***** quote SEction start ***** -->
<section class="py-5 quote-about">
    <div class="row">
        <div class="col-12">
            <h5 class="text-center lead"><i class="fa fa-quote-left"></i>
                Keep smiling because life is a beautiful thing and there’s so much to smile about  <i class="fa fa-quote-right"></i>
                <br> <strong style="color: #803817;"> Marilyn Monroe </strong>
               </h5>
        </div>
    </div>
</section>

<!-- ***** quote SEction start ***** -->

<!-- ***** description SEction start ***** -->
<section class="py-5 despic">
    <div class="container">
        <div class="row py-4" style="background: #d2c5c5;">
            <div class="col-12">
                <h3 class="text-center ">About Dento</h3>
                <h3 class="abtline line"></h3>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-md-5">
                <img src="{% static 'website/img/about us/des1.jpg' %}" alt="">
            </div>
            <div class="col-md-7">
                <p class="font-italic mt-5 "><strong> Dento Dental is the largest network of dental clinics in India. Since inception in 2011,</strong> we have been persistent in our tunnel vision and ardently strive to offer global standards of dentistry in every neighbourhood across the subcontinent.  <strong>Spread across 300+ locations in 12 states and 26 cities,</strong>  Dento manages an excess of 30,000 patients every month. In addition, we have conducted <strong> about 15 lakh treatments </strong>in the last eight years.</p>
            </div>
        </div>
        <div class="row py-3">
            
            <div class="col-md-7">
                <p class="font-italic mt-5">Dento Dental is equipped with state-of-the-art equipment and technology, has recruited over 580 quintessential dental surgeons; and set the highest thresholds for hygiene, clinic safety, transparency, ethics, and customer service. For instance, the Dento Dental Four-Step Protocol guarantees that each instrument and surface that comes in contact with patients is thoroughly sterilized prior to the next patient’s consult.</p>
            </div>
            <div class="col-md-5">
                <img src="{% static 'website/img/about us/des2.jpg' %}" alt="">
            </div>
        </div>
        <div class="row py-3">
            <div class="col-md-5">
                <img src="{% static 'website/img/about us/des3.jpg' %}" alt="">
            </div>
            <div class="col-md-7">
                <p class="font-italic mt-5">Dento is deservedly at the summit of India’s dental mountain being three times bigger than any dental player in India. Apart from precision in operations, technology, investment and ethics, we have laid crucial and indispensable emphasis on the following core values: trust, respect and integrity. The trust of patients through clinical quality, hygiene and excellence in service; the respect of customers, team members, vendors and support staff through compassion, cooperation, rights and privacy; and integrity in ethics, honesty, learning and conflicts of interest have been the pillars of the Dento environment and culture.</p>
            </div>
        </div>
        <div class="row py-3">
            
            <div class="col-md-7">
                <p class="font-italic mt-5">Dento has conducted numerous dental programmes for over 1,020 underprivileged adults and children while allocating resources for oral healthcare in under-served communities. We also provide vocational training and skill development courses to under-privileged adults preparing them for employment in dental labs that fabricate dental crowns, bridges and dentures.</p>
            </div>
            <div class="col-md-5">
                <img src="{% static 'website/img/about us/des4.jpg' %}" alt="">
            </div>
        </div>
        <div class="row py-3">
            <div class="col-md-5">
                <img src="{% static 'website/img/about us/des5.jpg' %}" alt="">
            </div>
            <div class="col-md-7">
                <p class="font-italic mt-5">Dento has also initiated Data Quality Management (DQM), an administration type that incorporates the role establishment and deployment, policies, responsibilities and processes in terms of data acquisition, maintenance, disposition and distribution. DQM invariably improves quality of organizational data to thereon achieve the data dependent business goals like customer relationship management (CRM).</p>
            </div>
        </div>
        <div class="row py-3">
            
            <div class="col-md-7">
                <p class="font-italic mt-5">Though our aspiration has always been that in the future the ‘Gold Standard of dentistry’ becomes the Dento Standard of dentistry’, we have laid equal emphasis on staying true to our roots. Our eyes may envision a continual climb, but we strive to have our feet firmly planted on the ground</p>
            </div>
            <div class="col-md-5">
                <img src="{% static 'website/img/about us/des6.jpg' %}" alt="">
            </div>
        </div>
    </div>
</section>

<!-- ***** description SEction end ***** -->
<!-- ***** value SEction start ***** -->
<section class="py-5 despicture">
    <div class="container">
    <div class="row py-3">
        <div class="col-12">
            <h4 class="text-center">CORE VALUES</h4>
            <h4 class="abtline line"></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 py-3 collam">
            <h4 class="text-light">TRUST</h4>
            <h4 class="line"></h4>
            <p class="text-light"> Clinical Quality</p>
            <p class="text-light"> Patient's Trust</p>
            <p class="text-light"> Hygiene / Sterilisation</p>
            <p class="text-light"> Service Excellence</p>
        </div>
        <div class="col-md-4 py-3 collam2">
            <h4 class="text-light">RESPECT</h4>
            <h4 class="line"></h4>
            <p class="text-light">  Customers</p>
            <p class="text-light"> Team Members</p>
            <p class="text-light"> Vendors</p>
            <p class="text-light"> Right & Privacy</p>
        </div>
        <div class="col-md-4 py-3 collam3">
            <h4 class="text-light">INTEGRITY</h4>
            <h4 class="line"></h4>
            <p class="text-light"> Ethics</p>
            <p class="text-light"> Learning Attitude</p>
            <p class="text-light"> Honesty</p>
            <p class="text-light"> Conflict of Interest</p>
        </div>
    </div>
</div>
</section>


<!-- ***** value SEction end ***** -->

{% endblock %}