{% extends 'base.html' %}
{% load static %}
{% block title %}Dr. Mamun Dental Services{%endblock %}
{% block meta_description %}Find the current dental services offered by Dr. Mamun DMD{% endblock %}

{% block content %}



  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Service</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Service</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ***** Services Area Start ***** -->
  <section class="dento-services-area mt-50 py-5" style="background: #dccdcd70;">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center">Our Services</h2>
        </div> 
      </div>
      <hr>
      <div class="row">

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s6.png' %}" alt="">
            </div>
            <h5>Teeth Whitening</h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s7.png' %}" alt="">
            </div>
            <h5>Dental Implants</h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s8.png' %}" alt="">
            </div>
            <h5>Missing Teeth</h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s9.png' %}" alt="">
            </div>
            <h5>Cosmetic Dentistry</h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s10.png' %}" alt="">
            </div>
            <h5>Examination</h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s6.png' %}" alt="">
            </div>
            <h5>Teeth Pain</h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ***** Services Area End ***** -->

  <!-- ***** Testimonials Area Start ***** -->
  <section class="testimonials-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url('img/bg-img/7.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Testimonials Slides -->
          <div class="testimonials-slides owl-carousel">
            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/8.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“I'd been avoiding the dentist for years due to bad experiences. A reminder SMS is sent the working day beforehand. I also had a call confirming appointment. I have been a patient ever since. My dentist is very reassuring and
                  very helpful. Excellent treatment and advice.”</h5>
                <h6>Arron Ramsey</h6>
                <p>Dental Patient</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/8.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“I'd been avoiding the dentist for years due to bad experiences. A reminder SMS is sent the working day beforehand. I also had a call confirming appointment. I have been a patient ever since. My dentist is very reassuring and
                  very helpful. Excellent treatment and advice.”</h5>
                <h6>Arron Ramsey</h6>
                <p>Dental Patient</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/8.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“I'd been avoiding the dentist for years due to bad experiences. A reminder SMS is sent the working day beforehand. I also had a call confirming appointment. I have been a patient ever since. My dentist is very reassuring and
                  very helpful. Excellent treatment and advice.”</h5>
                <h6>Arron Ramsey</h6>
                <p>Dental Patient</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Testimonials Area End ***** -->

<!-- ***** Service description Area End ***** -->

<section class="py-5 sec-ser-det">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="pt-2">Services Details</h2>
        <h2 class="line"></h2>
        <h5 class="py-2">At <strong style="color: red;"> Hart Dental</strong>, we offer a broad spectrum of services to meet your every need. All ages are welcome, from children to adults. Below, you’ll find a menu of our many solutions that can help you have a healthier, happier smile.</h5>
      </div>
    </div>
    <div class="row" style="border: 1px solid red; box-shadow: 1px 1px 3px 5px;">
      <div class="col-md-4">
        <h2 class="p-2">General Dentistry</h2>
        <h6>If you need a routine examination, cleaning, X-rays, oral cancer screening or sports mouth guards, our dentists can suit your requirements. Our range of general dentistry services will keep your teeth, gums and mouth in great shape.</h6>
      </div>
      <div class="col-md-4">
        <h2 class="p-2">Cosmetic Dentistry</h2>
        <h6>Have you ever wanted to change the look of your smile? Porcelain veneers, tooth contouring, crown lengthening and <strong> teeth whitening </strong> are available to alter how your teeth appear, giving your self-confidence a boost.</h6>
      </div>
      <div class="col-md-4">
        <h2 class="p-2">Dermal Fillers & Wrinkle Relaxers</h2>
        <h6>Small subtle enhancements or the disappearance of fine lines using dermal fillers & wrinkle relaxers is sometimes all you need to feel refreshed and ready to face the world. Request your free consultation and our skilled dentists will work with you to get the look you’ve always wanted.</h6>
      </div>
      <div class="col-md-4">
        <h2 class="p-2">Restorative Dentistry</h2>
        <h6>If your teeth have been damaged due to trauma or aging, you require removal or would like to have a dental implant placed, our many restorative dentistry solutions may be the ideal answer. In addition to <strong> dental implant restorations</strong>, we offer crowns, bridges, fillings, Bioclear®, inlays and onlays.</h6>
      </div>
      <div class="col-md-4">
        <h2 class="p-2">Oral Surgery</h2>
        <h6>Sometimes, it isn’t possible to save a tooth from extraction. In such cases, we can perform a routine extraction. We also offer wisdom teeth extraction and can place dental implants to restore your oral health.</h6>
      </div>
      <div class="col-md-4">
        <h2 class="p-2">Children’s Dentistry</h2>
        <h6>We love to see children learning good oral hygiene habits from an early age. To keep your children’s teeth healthy, we offer examinations and cleanings, early orthodontic treatment, fissure sealants, fluoride treatments and smart fillings.</h6>
      </div>
      <div class="col-md-4">
        <h2 class="p-2">Sedation Dentistry</h2>
        <h6>At Hart Dental, we cater to your needs while keeping your best interest in mind. An essential part of maintaining your healthy smile is making sure you’re comfortable throughout each visit. When necessary, we offer sedation dentistry options so that you can feel relaxed and we can proceed with ease.</h6>
      </div>
      <div class="col-md-4">
        <h2 class="p-2">Facial Pain & TMD Treatment</h2>
        <h6>If you suffer from pain in the ear, jaw or elsewhere in the face, as well as headaches, we have conservative options to treat your problem. We’ll determine the source of your problem and recommend the necessary treatment to help you find relief.</h6>
      </div>
      <div class="col-md-4">
        <h2 class="p-2">Early Orthodontics</h2>
        <h6>At Hart Dental, we believe that preventing problems early in life is the key to enjoying great oral health in adulthood. From age 5 on, potential orthodontic problems can be identified and treated.</h6>
      </div>
    </div>
  </div>
</section>


<!-- ***** Service description Area End ***** -->

  <!-- ***** service picture Area start ***** -->

  <section class="py-5 serv-pic" style="background: rgba(224, 208, 208, 0.75);">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
            <div class="section-heading text-center">
                <h2>Some of our service photos</h2>
                <div class="line"></div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="{% static 'website/img/bg-img/1.jpg' %}" alt="" style="width: 400px; height: 300px;">
        
      </div>
      <div class="col-md-4">
        <img src="{% static 'website/img/bg-img/2.jpg' %}" alt="" style="width: 400px; height: 300px;">
      </div>
      <div class="col-md-4">
        <img src="{% static 'website/img/bg-img/3.jpg' %}" alt="" style="width: 400px; height: 300px;">
      </div>
      <div class="col-md-4 mt-3">
        <img src="{% static 'website/img/bg-img/15.jpg' %}" alt="" style="width: 400px; height: 300px;">
      </div>
      <div class="col-md-4 mt-3">
        <img src="{% static 'website/img/bg-img/19.jpg' %}" alt="" style="width: 400px; height: 300px;">
      </div>
      <div class="col-md-4 mt-3">
        <img src="{% static 'website/img/bg-img/20.jpg' %}" alt="" style="width: 400px; height: 300px;">
      </div>
    </div>
    </div>

  </section>

  <!-- ***** service picture Area End ***** -->



{% endblock %}